<!-- All attributes of the iframe could be added as properties of the component, if needed  -->
<div ng-if="vm.src">
  <iframe ng-src="{{ vm.getSrc() }}" 
    title="Wistia video player"
    allowtransparency="true" 
    frameborder="0"
    scrolling="no" 
    class="wistia_embed" 
    name="wistia_embed" 
    allowfullscreen 
    mozallowfullscreen 
    webkitallowfullscreen 
    oallowfullscreen
    msallowfullscreen 
    width="640" 
    height="360">
  </iframe>
  <script src="https://fast.wistia.net/assets/external/E-v1.js" async></script>
</div>